@page "/sensors"
@inject Shiny.Sensors.IAccelerometer accelerometer
@inject Shiny.Sensors.IGyroscope gyroscope
@inject Shiny.Sensors.IMagnetometer magnetometer
@inject Shiny.Sensors.IAmbientLight ambientLight
@inject Shiny.Sensors.ICompass compass

<h3>Sensors</h3>

<Card>
    <CardTitle Size="5">Accelerometer</CardTitle>
    <CardText>@AccelerometerValues</CardText>
    <Button Clicked="@ToggleAccelerometer">@AccelerometerText</Button>
</Card>

@code {

    IDisposable? sub;
    string AccelerometerText = "Start";
    string AccelerometerValues = "";

    void ToggleAccelerometer()
    {
        if (this.sub == null)
        {
            this.sub = this.accelerometer
                .WhenReadingTaken()
                .Subscribe(
                    x =>this.AccelerometerValues = $"X: {x.X} - Y: {x.Y} - Z: {x.Z}",
                    ex => this.AccelerometerValues = ex.ToString()
                );
        }
        else
        {
            this.sub.Dispose();
            this.sub = null;
        }
        this.AccelerometerText = this.sub == null ? "Start" : "Stop";
    }
}
